<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body class="container">

<header>
  <% include ./partials/_header %>
</header>

<main>
  <div class="jumbotron">
    <h1>Shortened URLs</h1>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://localhost:8080/urls/">URLs</a></li>
    </ol>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th></th>
      </tr> </thead>
      <tbody>
      <% let index = 1 %>
      <% Object.keys(urls).forEach(function(id){ %>
        <tr>
        <th scope="row"><%= index %></th>
        <td><a href="<%= urls[id] %>"><%= urls[id] %></a></td>
        <td><a href="http://localhost:8080/u/<%= id %>">http://localhost:8080/u/<%= id %></a></td>
        <td><a href="http://localhost:8080/urls/<%= id %>">edit</a></td>
        </tr>
        <% index++ %>
        <% }); %>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <% include ./partials/_footer %>
</footer>

</body>
</html>